{% comment %} 
        Thin Banner Hiring Section
        Displays a thin banner with a title and a button 
{% endcomment %}

{{ 'thin-banner-hiring.css' | asset_url | stylesheet_tag }}

{% liquid
  assign sec = section.settings
%}

{% if sec.title and sec.title_desktop %}
  <!-- Thin Banner Container -->
  <div class="thin-banner-hiring">
    <!-- Mobile Title -->
    {% if sec.title %}
      <h3 class="title_mobile">{{ sec.title }}</h3>
    {% endif %}
    <!-- Desktop Title -->
    {% if sec.title_desktop %}
      <h3 class="title_desktop">{{ sec.title_desktop }}</h3>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Thin Banner Hiring",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Text Content"
      }, {
        "type": "text",
        "id": "title",
        "label": "Mobile Title",
        "default": "Sustainable, Ethically Made Activewear",
        "info": "Title displayed on mobile devices"
      }, {
        "type": "text",
        "id": "title_desktop",
        "label": "Desktop Title",
        "default": "Sustainable, Ethically Made Clothes In Sizes XXS To 6XL",
        "info": "Title displayed on desktop devices"
      }
    ],
    "presets": [
      {
        "name": "Thin Banner Hiring",
        "settings": {}
      }
    ]
  }
{% endschema %}